@mixin race-report__items
{
  display: grid;
  grid-column: 2 / span 1;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  list-style: none;

  @media only screen and (max-width: 1280px)
  {
    grid-template-columns: 1fr;
  }
}
