// Colours //
$cspot: #ef2b4a;
$csuccess: #2bef60;
$csuccesst: #15742f;
$coutline: #dedede;

$fbase: 'Roboto', sans-serif;
$fheading: 'Montserrat', sans-serif;

// Layouts
$grid: minmax(0, 20%) minmax(0, 60%) minmax(0, 20%);

// Font Sizes //
$fsdefault: 1.1rem;
