{% extends "_layout" %}

{% block content %}
  <main class="race-reports">
    <article class="race-reports__body">
      <ul class="race-reports__items">
        {% include "_includes/race-reports" %}
      </ul>
    </article>
  </main>
{% endblock %}
